# Node modules
node_modules/

# Конфигурационные файлы
config.json

# Файлы окружения
.env

# Логи
*.log

# Кэш
.cache/

# Выходные данные сборки
dist/

# Локальные настройки IDE
.vscode/
.idea/

# Файлы временных данных
*.tmp
*.temp

# Файлы тестов
coverage/

# Файлы, сгенерированные системой
.DS_Store
Thumbs.db